{% comment %} 
<div>
  {% if widget.is_initial %}
    Avatar
    <img src="{{ widget.value.url }}" alt="Current Avatar" class="h-20 w-20 rounded-full mb-2" />
    {% if not widget.is_required %}
      <label>
        Clear
        <input type="checkbox" name="{{ widget.checkbox_name }}">
      </label>
    {% endif %}
  {% endif %}
  <input type="file" name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %}>
</div> 
{% endcomment %}

{% load static %}

<div>
  <div class="w-full aspect-square mb-3">
    <img
      id="avatar-preview"
      src="{% if widget.is_initial %}{{ widget.value.url }}{% else %}{% static 'images/default-avatar.png' %}{% endif %}"
      alt="Current Avatar"
      class="h-full w-full rounded-full object-cover"
    />
  </div>

  <label for="{{ widget.attrs.id }}" class="btn bg-orange-500 hover:bg-orange-600 text-white mb-3">
    {% if not widget.is_initial %}
      Upload Image
    {% else %}
      Change Image
    {% endif %}
  </label>

  <input type="file" name="{{ widget.name }}" id="{{ widget.attrs.id }}" style="display:none" accept="image/*" {% include "django/forms/widgets/attrs.html" %}>

  {% if widget.is_initial and not widget.is_required %}
    <div class="relative w-full">
      <input type="checkbox" name="{{ widget.checkbox_name }}" id="delete-checkbox" class="peer hidden">
      <label for="delete-checkbox"
             class="btn
                    border border-gray-300 peer-checked:border-orange-300
                    text-gray-500 peer-checked:text-orange-500
                    bg-gray-100 peer-checked:bg-orange-100
                    hover:bg-gray-200 peer-checked:hover:bg-orange-200
                    ">
        Delete Image
      </label>
    </div>
  {% endif %}
</div>

<script>
  const fileInput = document.getElementById("{{ widget.attrs.id }}");
  const previewImg = document.getElementById("avatar-preview");
  const deleteCheckbox = document.getElementById("delete-checkbox");

  const originalImageSrc = previewImg.src;
  let lastUploadedImageSrc = originalImageSrc;

  fileInput.addEventListener('change', function(event) {
    const file = event.target.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = function(e) {
        previewImg.src = e.target.result;
        previewImg.style.display = 'block';
        lastUploadedImageSrc = e.target.result;
        if (deleteCheckbox) {
          deleteCheckbox.checked = false;
        }
      }
      reader.readAsDataURL(file);
    } 
    else {
      {% if widget.is_initial %}
        previewImg.src = "{{ widget.value.url }}";
        lastUploadedImageSrc = "{{ widget.value.url }}";
      {% else %}
        previewImg.style.display = 'none';
      {% endif %}
    }
  });

  if (deleteCheckbox) {
    deleteCheckbox.addEventListener('change', function() {
      if (this.checked) {
        previewImg.src = "{% static 'images/default-avatar.png' %}";
        fileInput.value = '';
      } 
      else {
        previewImg.src = lastUploadedImageSrc;
      }
    });
  }
</script>
