{% extends 'base_navbar.html' %}
{% load widget_tweaks %}

{% block title %}
Linkwall | Log In
{% endblock %}

{% block main %}
<div class="flex flex-1 justify-center items-center">
  <form method="post" class="max-w-xs mx-4 mt-4 mb-18">
    {% csrf_token %}
    
    {% for field in form %}
      <div class="flex flex-col">
        <label for="{{ field.id_for_label }}" class="text-sm mb-1">
          {{ field.label|title }}
        </label>
        {{ field|add_class:"text-input mb-3" }}
      </div>
    {% endfor %}

    {% if form.non_field_errors %}
      <div class="error mb-3">
        {{ form.non_field_errors|striptags }}
      </div>
    {% endif %}

    <div class="h-6"></div>

    <button type="submit" class="btn bg-orange-500 hover:bg-orange-600 text-white mb-3">
      Log In
    </button>

    <p class="text-center">
			Don't Have an account?
      <a href="{% url 'accounts:signup' %}" class="text-blue-700 hover:underline">
        Sign Up
      </a>
		</p>
  </form>
</div>
{% endblock %}