{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
Linkwall | Sign Up
{% endblock %}

{% block content %}
<div class="flex flex-1 justify-center items-center">
  <form method="post" class="w-80 mb-14">
    {% csrf_token %}

    {% for field in form %}
      <div class="flex flex-col">
        <label for="{{ field.id_for_label }}" class="">
          {{ field.label|title }}
        </label>
        {{ field|add_class:"h-9 px-3 py-1.5 rounded-full border border-line focus:outline-none mb-3" }}

        {% if field.errors %}
          <p class="error mb-3">
            {{ field.errors.0 }}
          </p>
        {% endif %}
      </div>
    {% endfor %}

    {% with last_field=form.visible_fields|last %}
      {% if not last_field.errors %}
        <div class="h-6"></div>
      {% endif %}
    {% endwith %}

    <button type="submit" class="h-9 w-full bg-orange-500 rounded-full text-white mb-3">Sign Up</button>

    <p class="text-center">
      Already have an account?
      <a href="/accounts/login/" class="text-blue-700 hover:underline">
        Log In
      </a>
		</p>
  </form>
</div>
{% endblock %}